@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
<h2>Here Are All The Restaurants In This Cuisine Type:</h2>
</div>
@if (@Model["restaurants"].Count == 0)
{
  <p>No restaurants have been added yet!</p>
}
else
{
  <ol>
    @foreach (var restaurant in @Model["restaurants"])
    {
      <li><a href="/restaurants/@restaurant.GetId()">@restaurant.GetName()</a></li>
    }
  </ol>
}
<p><a href="/restaurants/new">Add New</a> | <a href="/">Return Home</a></p>
