@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron homepage">
<h1>Best Restaurants</h1>
</div>
<div class="container">
<h3><a href="/cuisines">View By Cuisine</a> | <a href="/restaurants">View Restaurants</a></h3>
</div>
