    @{
      Layout="Shared/_Layout.cshtml";
    }
    <div class="jumbotron homepage">
    <h1>Best Restaurants</h1>
    </div>
    <div class="container">
        <div class="form-group">
            <h3><a href="/cuisines">View By Cuisine</a> | <a href="/restaurants">View Restaurants</a></h3>
        </div>
        <div class="form-group intro">
            <h2>Welcome</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo nulla sit amet convallis porttitor. Morbi est nibh, maximus a nulla id, dictum ullamcorper nisl. Phasellus at ipsum quis neque dapibus fermentum. Donec imperdiet auctor venenatis. Praesent vitae turpis quis libero venenatis gravida. Ut sed ornare elit. Sed tempus egestas metus scelerisque ultricies.</h4>
            <h4>Nunc quis lectus at turpis auctor pulvinar. Curabitur et felis mauris. Vestibulum mattis consectetur risus, sit amet laoreet leo rhoncus at. Quisque vel enim non enim porta consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eleifend volutpat tortor, eu egestas velit rutrum tincidunt. Nunc ac massa iaculis, rutrum justo dictum, ornare risus. Aliquam accumsan erat at orci venenatis faucibus. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque malesuada lacus nec nunc ornare, vitae cursus ante euismod. Duis eget consequat enim, ut auctor nulla.</h4>
            <br>
            <h2>About Us</h2>
            <h4>Suspendisse fermentum molestie interdum. Praesent rhoncus orci nec malesuada ornare. Nullam odio nisi, aliquam at accumsan vehicula, venenatis at magna. Donec vitae libero eget dolor volutpat tristique. Duis lobortis maximus tincidunt. Duis nisi ligula, laoreet ac maximus quis, ullamcorper luctus mi. Suspendisse placerat elit sed erat laoreet, vitae scelerisque odio convallis.</h4>
            <h4>Fusce in tempor risus. Vivamus non massa ac eros venenatis sollicitudin. Nulla nec arcu arcu. Mauris rutrum massa sit amet nulla tempor imperdiet. Pellentesque nibh nibh, ornare ac placerat eu, interdum eget erat. Praesent cursus mi in libero aliquam, ut ultricies velit lobortis. Nulla facilisi. Quisque et dui sit amet arcu dictum venenatis. Suspendisse potenti. Nulla lacinia ipsum dolor, in sollicitudin purus mattis non.</h4>
            <h4>Cras gravida mattis nunc sed laoreet. Vestibulum tempor auctor pretium. Sed laoreet nec arcu id venenatis. Fusce auctor lobortis pharetra. Aenean egestas ex est, in pulvinar urna pharetra vitae. Maecenas tincidunt imperdiet diam, ultrices posuere eros congue ac. Donec rutrum aliquam dictum.</h4>
        </div>
    </div>
