@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
<h1>Add a New Restaurant</h1>
</div>
<form action="/restaurants/new" method="post">
    <label for="restaurant-name">Restaurant Name:</label>
    <input id="restaurant-name" name="restaurant-name" type="text">
    <label for="restaurant-location">Restaurant Location:</label>
    <input id="restaurant-location" name="restaurant-location" type="text">

    <label for="restaurant-price">Price Range:</label>
    <select name="restaurant-price">
        <option>Low</option>
        <option>Medium</option>
        <option>Expensive</option>
    </select>
    <select name="cuisine-id">
        @foreach (var cuisine in Model)
        {
            <option value="@cuisine.GetId()">@cuisine.GetName()</option>
        }
    </select>
    <button class="btn btn-lg btn-primary" type="submit">Add New</button>
</form>

<p><a href="/restaurants">View All</a> | <a href="/">Return Home</a></p>
