@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron restaurants">
<h1>Best Restaurants</h1>
</div>
<hr />
<div class="container">
<h2>Edit Restaurant: @Model.GetName()</h2>
<form action="/restaurant/edit/@Model.GetId()" method="post">
<div class="form-group">
  <input type="hidden" name="_method" value="PATCH">
  <input name="restaurant-id" type="hidden" value="@Model.GetId()">
  <label for="restaurant-name">Restaurant name
  <input id="restaurant-name" name="restaurant-name" type="text"></label>
  </div>
<div class="buttons">
    <button class="btn btn-lg btn-primary" type="submit">Edit</button>
</div>
</form>
<p><a href="/">Return Home</a></p>
</div>
