@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron success">
<h1>Best Restaurants</h1>
</div>
<div class="container">
<h1 class="successpage"><a href="/restaurants/new">Add New</a> | <a href="/">Return Home</a></h1>
</div>
