.jumbotron {
    text-align: center;
    height: 600px;
}

.jumbotron h1 {
    margin-top: 135px;
    font-size: 100px;
}

.homepage {
    background-image: url('../image/diningroom.jpg');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}

.restaurants {
    background-image: url('../image/restaurant.jpeg');
    background-size: cover;
    color: white;
}

.success {
    background-image: url('../image/dish.jpg');
    background-size: cover;
    color: white;
    background-position: bottom;
    text-shadow: 2px 2px black;
}

.cuisine {
    background-image: url('../image/greennoodles.jpeg');
    background-size: cover;
    background-position: bottom;
    color: white;
    text-shadow: 2px 2px grey;
}

body {
    font-family: 'Slabo 27px', serif;
}

li {
    font-size: 25px;
}

p {
    font-size: 20px;
    text-align: center;
    clear: both;
    margin-top: 40px;
}

.successpage {
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 25px;
}

.btn {
    margin-top: 20px;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 20px;
}

.intro {
    margin: 70px 0px;
}

input, select {
    margin-left: 20px;
    padding: 8px;
}
/*
.buttons, .form-group {
    float: left;
}*/

.buttons {
    margin-left: 40px;
    margin-top: -15px;
    margin-bottom: 80px;
}

form {
    margin-top: 40px;
}

.edit-name {
    margin-top:-7px;
}
